<div>
  <h1>Cart</h1>
  <ul style="list-style-type: none;">
    {{#each user.carts}}
      <li>
        <img src="{{this.image}}" alt="" />
        <p>{{this.title}}</p>
        <p>{{this.description}}</p>
        <p>${{this.price}}</p>
        <p>Quantity: {{this.quantity}}</p>
        <form method="POST" action="/carts/{{this._id}}?_method=DELETE">
          <button type="submit" onsubmit="();return false">Remove</button>
        </form>
      </li>
    {{/each}}
  </ul>
  <a href="/products">Back To Shopping</a>
  {{#with user}}
    <p>TotalPrice: ${{priceSum carts}}</p>
  {{/with}}
  <form method="GET" action="/carts/checkout">
    <button>CHECKOUT</button>
  </form>
</div>