<div>
  <h1>All Products</h1>
  <ul class="products">
    {{#each productArray}}
      <li style="list-style-type:none">
        <img src="{{this.image}}" alt="" />
        <p>{{this.title}}</p>
        <p>${{this.price}}</p>
        <p>{{this.description}}</p>
      </li>
      <form action="/products/{{this._id}}" method="GET">
        <button type="submit">BUY NOW</button>
      </form>
    {{/each}}
  </ul>
</div>