<!-- checkout.hbs -->
<h1>Checkout</h1>

{{#with user}}
  <ul style="list-style-type: none;">
    {{#each carts}}
      <li>
        <img src="{{this.image}}" alt="" />
        <p>{{this.title}}</p>
        <p>{{this.description}}</p>
        <p>${{this.price}}</p>
        <p>Quantity: {{this.quantity}}</p>
      </li>
    {{/each}}
  </ul>
  <p>Total Price: ${{priceSum carts}}</p>
  <form method="GET" action="/payment">
    <button>Payment</button>
  </form>
{{/with}}